$primary-font: minecraftFont, 'Gill Sans', 'Open Sans', Calibri, Tahoma, sans-serif;
$text-font: 'Open Sans', Calibri, Tahoma, sans-serif;
$heading-font: minecraftHeaderFont, 'Prompt', sans-serif;
$desktop-page-sp: 100px;
$container-padding-sm: 24px;
$container-padding-lg: 96px;

@font-face {
  font-family: minecraftFont;
  src: url(/fonts/minecraft.ttf);
}

@font-face {
  font-family: minecraftHeaderFont;
  src: url(/fonts/minecraftten.woff);
}

:root {
  --white: #fafafa;
  --black: #1C1C1C;
  --text-black: #0a0a0a;
  --text-white: #e8e8e8;

  --btn-border-lefttop: #F7F7F7;
  --btn-border-rightbottom: #656465;
  --btn-bg: #C6C6C6;
  --btn-outline: #131313;
  --btn-text-color: #4C4C4C;

  --btn-hover-border-lefttop: #17CD07;
  --btn-hover-border-rightbottom: #004E00;
  --btn-hover-bg: #218306;
  --btn-hover-outline: #fff;
  --btn-hover-text-color: #fff;

  --box-bg: #C6C6C6;
  --box-border-lefttop: #fff;
  --box-border-rightbottom: #555;
  --box-text-color: #181818;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: var(--white);
    --bg-color-opposite: var(--black);
    --text-color: var(--text-black);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: var(--black);
    --bg-color-opposite: var(--white);
    --text-color: var(--text-white);

    --btn-border-lefttop: #474747;
    --btn-border-rightbottom: #1D1D1D;
    --btn-bg: #393939;
    --btn-outline: #000;
    --btn-text-color: #AAA;

    --btn-hover-border-lefttop: #6D6D6D;
    --btn-hover-border-rightbottom: #2F2F2F;
    --btn-hover-bg: #595959;


    --box-bg: #393939;
    --box-border-lefttop: #494949;
    --box-border-rightbottom: #181818;
    --box-text-color: #AAA;
  }
}

body[data-theme="light"] {
  --bg-color: var(--white);
  --bg-color-opposite: var(--black);
  --text-color: var(--text-black);

  --btn-border-lefttop: #F7F7F7;
  --btn-border-rightbottom: #656465;
  --btn-bg: #C6C6C6;
  --btn-outline: #131313;
  --btn-text-color: #4C4C4C;

  --btn-hover-border-lefttop: #17CD07;
  --btn-hover-border-rightbottom: #004E00;
  --btn-hover-bg: #218306;
  --btn-hover-outline: #fff;
  --btn-hover-text-color: #fff;

  --box-bg: #C6C6C6;
  --box-border-lefttop: #fff;
  --box-border-rightbottom: #555;
  --box-text-color: #181818;
}

body[data-theme="dark"] {
  --bg-color: var(--black);
  --bg-color-opposite: var(--white);
  --text-color: var(--text-white);
  --btn-border-lefttop: #474747;
  --btn-border-rightbottom: #1D1D1D;
  --btn-bg: #393939;
  --btn-outline: #000;
  --btn-text-color: #AAA;
  --btn-hover-border-lefttop: #6D6D6D;
  --btn-hover-border-rightbottom: #2F2F2F;
  --btn-hover-bg: #595959;
  --box-bg: #393939;
  --box-border-lefttop: #494949;
  --box-border-rightbottom: #181818;
  --box-text-color: #AAA;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  //overflow-x: hidden;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: $text-font;
  background-color: var(--bg-color);
  transition: background-color, color 1s;
}

footer {
  background: #2f2f2f;
  min-height: 200px;
  flex-shrink: 0;
  justify-content: center;
  padding: 20px;
  border: 1px solid black;
}

h1, h2, h3 {
  font-family: $heading-font;
  font-weight: bold;
  padding: 20px 0;
  color: var(--text-color);
}

h4, h5, h6 {
  font-family: $primary-font;
  font-weight: normal;
  padding: 20px 0;
  color: var(--text-color);
}

p, a, span {
  color: var(--text-color);
}

p {
  line-height: 2rem;
}

a, a:visited {
  text-decoration: none;
}

button {
  background: none;
  appearance: none;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: $container-padding-sm;
  padding-right: $container-padding-sm;
}

.page-content {
  margin: 10px 0;
}

.icons:hover{
  opacity: 0.5;
}

.main-content {
  flex: 1;
}

.heading-secondary {
  font-size: 2.3rem;
  padding: 0;
}

.featured {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: $heading-font;
}

.hidden {
  opacity: 0 !important;
}

.mcbutton {
  background-color: var(--btn-bg);
  padding: 15px 15px 15px 15px;
  border-bottom: 2px solid var(--btn-border-rightbottom);
  border-right: 2px solid var(--btn-border-rightbottom);
  border-left: 2px solid var(--btn-border-lefttop);
  border-top: 2px solid var(--btn-border-lefttop);
  outline: 2px solid var(--btn-outline);
  color: var(--btn-text-color);
}

.mcbutton:hover {
  background-color: var(--btn-hover-bg);
  border-bottom: 2px solid var(--btn-hover-border-rightbottom);
  border-right: 2px solid var(--btn-hover-border-rightbottom);
  border-left: 2px solid var(--btn-hover-border-lefttop);
  border-top: 2px solid var(--btn-hover-border-lefttop);
  outline: 2px solid var(--btn-hover-outline);
  color: var(--btn-hover-text-color);
}
.mcbutton:active {
  background-color: var(--btn-hover-bg);
  border-bottom: 2px solid var(--btn-hover-border-lefttop);
  border-right: 2px solid var(--btn-hover-border-lefttop);
  border-left: 2px solid var(--btn-hover-border-rightbottom);
  border-top: 2px solid var(--btn-hover-border-rightbottom);
  outline: 2px solid var(--btn-hover-outline);
  color: var(--btn-hover-text-color);
}

/* Hero section */

.hero {
  display: flex;
  position: relative;
  height: 400px;
  width: 100%;
  background: url('/hero-image.jpg'), linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.1) 100%);
  background-repeat: no-repeat;
  background-position: 50% 40%;
  background-size: cover;
  margin-top: 20px;

  &__header {
    font-size: 2rem;
    position: absolute;
    text-align: center;
    max-width: 350px;
    margin-left: 20px;
  }

}

.top-nav {
  z-index: 100;
  list-style-type: none;
  border-bottom: 10px solid var(--box-border-rightbottom);
  border-left: 10px solid var(--box-border-lefttop);
  border-right: 10px solid var(--box-border-rightbottom);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: 5px solid black;
  background-color: var(--box-bg);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  margin-left: 20vh;
  width: 80%;

  & li a {
    display: block;
    & span {
      line-height: 60px;
      font-size: 1.5em;
      font-family: $primary-font;
      color: var(--box-text-color);
      text-shadow: 0px 4px #00000051;
    }
  }

  & li button, li select {
    display: block;
    width: auto;
    height: auto;
    padding: 12px;
    
  }

  &__link {
    display: none;
    order: 1;
    width: 100%;
    text-align: center;
    margin-right: 20px;
    padding: 18px;
    font-weight: 600;

    &:hover {
      background-color: #00000034;
    }
    &:active {
      background-color: #00000053;
    }
  }
  
  &__logo {
    border-right: 11px solid var(--box-border-rightbottom);
    max-width: 200px;
    height: 100%;
    padding: 5px 10px;

    & a img {
      max-width: 80px;
    }
  }

  &__link-group {
    order: 1;
    position: flex;
    display: block;
    width: auto;
  }
}

#themeToggler {
  font-size: large;
  font-family: $primary-font;
  padding: 10px 0 10px 10px;
  margin-top: 10%;
}

// Footer area

.footer-content {
  padding-top: 40px;

  &__left-group {
    width: 100%;
    color: white;
    margin-bottom: 20px;
  }

  &__site-name {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }

  &__right-group {
    width: 100%;
    margin-bottom: 20px;
    & .newsletter-form {
      display: block;
    }
  }
}

.footer-social {
  width: 100%;
  display: flex;
  margin-top: 40px;
  color: white;

  & .icons {
    padding: 12px;
    font-size: 1.5rem;
    margin-right: 20px;

    &:first-child {
      margin-left: -12px;
    }
  }
}

.newsletter-form {
  display: flex;
  width: 100%;

  & .input-wrapper {
    position: relative;
    width: 100%;

    & .submit-arrow {
      position: absolute;
      right: 0;
      bottom: 10px;
      cursor: pointer;
    }
  }

  &__form-title {
    width: 100%;
    margin-bottom: 20px;
  }

  & input {
    background: var(--bg-color-opposite);
    padding-bottom: 5px;
    border: none;
    border-bottom: 1px solid white;
    caret-color: white;
    color: white;
    font-size: 1.1rem;
    width: 100%;
  }
}

// Homepage and blog list styles

#parallax-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.parallax {
  position: relative;
  display: flex;
  flex: auto;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.parallax img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

#parallax__aboutbg {
  z-index: 50;
  position: absolute;
  top: 50%;
  padding: 15px 15px 15px 15px;
}

.parallax::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(to top, var(--bg-color), transparent);
  z-index: 1000;
}

.indexsec {
  background-color: var(--bg-color);
  z-index: 50;
  position: relative;
  padding: 100px;
}


.b-hero {
  display: flex;
  margin-bottom: 40px;

  &__image {
    max-width: 50%;
    margin-right: 40px;
  }

  &__info {
    max-width: 50%;
    align-self: center;
  }

  &__author-date {
    width: 100%;
    & span {
      display: block;
      padding: 10px 0;
    }
  }
  &__title {
    font-size: 3rem;
    padding:0;
    padding-bottom: 20px;
  }
}


.image-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.post-row {
  display: block;
  margin-top: 20px;
  width: 100%;

  .post-front {
    display: block;
    margin-bottom: 30px;
    max-width: 100%;
    
    &__image {
      display: block;
      width: 100%;
      height: 250px;
      object-fit: cover;
      margin-bottom: 10px;
    }
  }
}

.post-preview {
  display: block;
  margin-bottom: 20px;

  &__left {
    width: 100%;
    max-height: 200px;
  }

  &__right {
    margin-left: auto;
    position: relative;
    width: 100%;
  }
}

.preview-title {
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.tag-group {
  display: flex;
  margin-top: 10px;
  width: 100%;

  & .tag {
    padding: 5px;
    border: 1px solid grey;
    border-radius: 25px;
    margin-right: 10px;
    cursor: pointer;
  
    & .tag-text {
      padding: 5px;
    }
  }
}

// Gallery styles
.gallery {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;

  & img {
    flex: 25%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    padding: 5px;
  }
}

.item-footer {
  margin: 20px 0 50px 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;

  &__location {
    border-top: 2px solid black;
    padding: 10px 0;
  }

  &__bold {
    font-weight: bold;
  }

  &__status {
    display: flex;
  }

  &__left {
    width: 50%;
    padding: 10px 0;
    border-right: 2px solid black;
  }

  &__right {
    padding: 10px 0 10px 20px;
    width: 50%;
  }
}

// Media queries

/* Tablet menu
@media (min-width: 768px){

  .post-preview {
    display: flex;
    margin-bottom: 20px;
  
    &__left {
      max-width: 300px;
      max-height: 200px;
    }
  
    &__right {
      margin-left: 20px;
      position: relative;
      width: 100%;
    }
  }

  .top-nav__logo {
    order: 0;
  }

  .top-nav__link-group {
    order: 1;
    position: relative;
    display: flex;
    width: auto;
    margin: 0 auto;
  }

  .top-nav__link {
    order: 1;
    width: 100%;
    text-align: center;
    display: block;
    margin-right: 60px;
  }

  .hero {
    margin-top: 40px;
    &__header {
      top: 20px;
    }
  }

  .post-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    & .post-front {
     flex-grow: 1;
      margin-left: 20px;
      width: 30%;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
*/
// Desktop menu 

@media (min-width: 1025px) {

  .post-preview {
    display: flex;
    margin-bottom: 30px;
  
    &__left {
      max-width: 350px;
      max-height: 300px;
    }
  
    &__right {
      margin-left: 20px;
      position: relative;
      width: 100%;

      .tag-group {
        display: flex;
        position: absolute;
        bottom: 0;
      }
    }
  }

  .top-nav__logo {
    order: 0;
  }

  .top-nav__link-group {
    order: 1;
    position: relative;
    display: flex;
    width: auto;
    margin: 0;
  }

  .top-nav__link {
    order: 1;
    width: 100%;
    text-align: center;
    display: block;
  }

  .page-content {
    padding: 0;
    margin: 40px 0 80px 0;
  }


  .featured {
    margin-top: 40px;
    font-size: 1.5rem;
  }

  .hero {
    margin-top: 40px;

    &__header {
      top: 50px;
      left: 50px;
      font-size: 3rem;
      text-align: left;
    }
  }

  .container {
    padding-left: $container-padding-lg;
    padding-right: $container-padding-lg;
  }

  .footer-content {
    display: flex;

    &__left-group{
      width: 60%;
      & p {
        width: 50%;
      }
    }

    &__right-group {
      width: 40%;
    }
  }
    
}


// OTHER
#cookie-consent-popup {
  width: 50%;
  height: 30%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  margin: auto;
  padding: 2rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  opacity: 1;
  transition: opacity .8s ease;
  z-index: 1000;
  background-image: url("/cookies.png");
  background-repeat: no-repeat;
  background-position: left top;

  & h1, p, input, label {
    margin-left: 5px;
  }

  & p {
    font-weight: bold;
  }
}