$primary-font: "Minecraft", 'Gill Sans', Calibri, Tahoma, sans-serif;
$text-font: Calibri, Tahoma, sans-serif;
$heading-font: "minecraftHeaderFont", sans-serif;
$monospace-font: "Courier New", Courier, monospace;
$desktop-page-sp: 100px;
$container-padding-sm: 18px;
$container-padding-lg: 96px;
$text-margin: 1.2rem;

@font-face {
  font-family: "Minecraft";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local("Minecraft "),
    local("Minecraft"),
    url("/fonts/minecraft.woff2") format("woff2"),
    url("/fonts/minecraft.woff") format("woff");
}

@font-face {
  font-family: "minecraftHeaderFont";
  src: url(/fonts/minecraftten.woff);
}

:root {
  --white: #fafafa;
  --black: #1C1C1C;
  --white-rgb: 250, 250, 250;
  --black-rgb: 28, 28, 28;
  --text-black: #0a0a0a;
  --text-white: #e8e8e8;

  --btn-border-lefttop: #F7F7F7;
  --btn-border-rightbottom: #656465;
  --btn-bg: #C6C6C6;
  --btn-outline: #131313;
  --btn-text-color: #4C4C4C;

  --btn-hover-border-lefttop: #17CD07;
  --btn-hover-border-rightbottom: #004E00;
  --btn-hover-bg: #218306;
  --btn-hover-outline: #fff;
  --btn-hover-text-color: #fff;

  --box-bg: #C6C6C6;
  --box-border-lefttop: #fff;
  --box-border-rightbottom: #555;
  --box-text-color: #181818;

  --color-btn-bg: 229, 231, 235;
  --color-btn-bg-hover: 217, 220, 224;

  --code: #1b1f230d;

  /* width */
  ::-webkit-scrollbar {
    width: 9px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #434343;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c6c6c6; 
    border-top: 3px solid #fff;
    border-bottom: 3px solid #717171;
    outline: 3px solid #131311;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    --bg-color: var(--white);
    --bg-color-opposite: var(--black);
    --bg-color-rgb: var(--white-rgb);
    --bg-color-opposite-rgb: var(--black-rgb);
    --text-color: var(--text-black);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --bg-color: var(--black);
    --bg-color-opposite: var(--white);
    --bg-color-rgb: var(--black-rgb);
    --bg-color-opposite-rgb: var(--white-rgb);
    --text-color: var(--text-white);

    --btn-border-lefttop: #474747;
    --btn-border-rightbottom: #1D1D1D;
    --btn-bg: #393939;
    --btn-outline: #000;
    --btn-text-color: #AAA;

    --btn-hover-border-lefttop: #6D6D6D;
    --btn-hover-border-rightbottom: #2F2F2F;
    --btn-hover-bg: #595959;


    --box-bg: #393939;
    --box-border-lefttop: #494949;
    --box-border-rightbottom: #181818;
    --box-text-color: #AAA;

    --color-btn-bg: 67, 73, 86;
    --color-btn-bg-hover: 73, 79, 88;

    --code: #aec7e167;
    /* width */
    ::-webkit-scrollbar {
      width: 9px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #131313;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #393939; 
      border-top: 3px solid #494949;
      border-bottom: 3px solid #202020;
      outline: 3px solid #050505;
    }
  }
}

body[data-theme="light"] {
  color-scheme: light;
  --bg-color: var(--white);
  --bg-color-opposite: var(--black);
  --bg-color-rgb: var(--white-rgb);
  --bg-color-opposite-rgb: var(--black-rgb);
  --text-color: var(--text-black);

  --btn-border-lefttop: #F7F7F7;
  --btn-border-rightbottom: #656465;
  --btn-bg: #C6C6C6;
  --btn-outline: #131313;
  --btn-text-color: #4C4C4C;

  --btn-hover-border-lefttop: #17CD07;
  --btn-hover-border-rightbottom: #004E00;
  --btn-hover-bg: #218306;
  --btn-hover-outline: #fff;
  --btn-hover-text-color: #fff;

  --box-bg: #C6C6C6;
  --box-border-lefttop: #fff;
  --box-border-rightbottom: #555;
  --box-text-color: #181818;

  --color-btn-bg: 229, 231, 235;
  --color-btn-bg-hover: 217, 220, 224;

  --code: #1b1f230d;
  ::-webkit-scrollbar {
    width: 9px;
  }
  ::-webkit-scrollbar-track {
    background: #434343;
  }
  ::-webkit-scrollbar-thumb {
    background: #c6c6c6; 
    border-top: 3px solid #fff;
    border-bottom: 3px solid #717171;
    outline: 3px solid #131311;
  }
}

body[data-theme="dark"] {
  color-scheme: dark;
  --bg-color: var(--black);
  --bg-color-opposite: var(--white);
  --bg-color-rgb: var(--black-rgb);
  --bg-color-opposite-rgb: var(--white-rgb);
  --text-color: var(--text-white);
  --btn-border-lefttop: #474747;
  --btn-border-rightbottom: #1D1D1D;
  --btn-bg: #393939;
  --btn-outline: #000;
  --btn-text-color: #AAA;
  --btn-hover-border-lefttop: #6D6D6D;
  --btn-hover-border-rightbottom: #2F2F2F;
  --btn-hover-bg: #595959;
  --box-bg: #393939;
  --box-border-lefttop: #494949;
  --box-border-rightbottom: #181818;
  --box-text-color: #AAA;
  --color-btn-bg: 67, 73, 86;
  --color-btn-bg-hover: 73, 79, 88;
  --code: #aec7e167;
  ::-webkit-scrollbar {
    width: 9px;
  }
  ::-webkit-scrollbar-track {
    background: #131313;
  }
  ::-webkit-scrollbar-thumb {
    background: #393939; 
    border-top: 3px solid #494949;
    border-bottom: 3px solid #202020;
    outline: 3px solid #050505;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;
  font-family: $text-font;
  font-size: 20px;
  background-color: var(--bg-color);
  color: var(--text-color);
  // transition: background-color, color, 1s;
}

.main-content {
  max-width: 100vw;
  max-width: 100dvw;
}

.noScroll {
  overflow: hidden;
}

::selection {
  background-color: #cce2ff;
  color: rgba(0,0,0,.87);
}

footer {
  background-image: url("/images/deepslate_tiles.png");
  min-height: 100px;
  flex-shrink: 0;
  justify-content: center;
  padding: 20px;
  border-top: 5px solid black;
}

h1, h2 {
  font-family: $heading-font;
  font-weight: normal;
  padding: 20px 0;
  color: var(--text-color);
}

h1 { font-size: xx-large; }
h2 { font-size: x-large; }

h3, h4, h5, h6 {
  font-family: $primary-font;
  font-weight: normal;
  padding: 20px 0;
  color: var(--text-color);
}

p {
  color: var(--text-color);
}

p {
  line-height: 1.5rem;
}

code {
  padding: .2rem;
  font-size: 75%;
  background-color: var(--code);
  border-radius: 3px;
}

pre {
  padding: 0.8rem 0.5rem;
  overflow-x: auto;
  & code {
    display: inline-block;
    padding: 0;
    border-radius: 0;
    font-size: inherit;
    background-color: transparent;
  }
}

div.highlight {
  overflow-x: auto;
  position: relative;
  margin-top: $text-margin;
  margin-bottom: $text-margin;
  & table {
    outline: 0;
  }
  &:hover .copy-code-button {
    opacity: 0.4;
  }
}

.copy-code-button {
  position: absolute;
  right: 0;
  top: 0;
  color: var(--white);
  background-color: #393939;
  border: 1.25px solid #232326;
  white-space: nowrap;
  padding: 3px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease;
  & svg {
    width: 1.1rem !important;
  }
}

.copy-code-button:hover,
.copy-code-button:focus,
.copy-code-button:active,
.copy-code-button:active:hover {
  opacity: 0.8 !important;
}

kbd {
  background: rgb(233,233,233);
  background: linear-gradient(90deg, rgba(233,233,233,1) 7%, rgb(183, 183, 183) 100%);
  padding: 5px;
  border-right: 1px solid #F1F1F1;
  box-shadow: 3px 0 2px 0px #D6D6D6, -1px 3px 0 3px #656565, 0 2px 0 4px #000;
  border-radius: 3px;
  margin: 0 5px;
  color: var(--text-black);
  font-size: 90%;
}

ul {
  list-style-type: square;
}

a:not(.noA), a:visited:not(.noA) {
  text-decoration: none;
  color: #4982e3;
}

a:hover:not(.noA), a:focus:not(.noA) {
  text-decoration: underline;
  color: #89b4ff;
}

a:active:not(.noA) {
  text-decoration: underline;
  color: #286feb;
}

.noA {
  text-decoration: none;
}

button {
  background: none;
  appearance: none;
  border: none;
  cursor: pointer;
}

.tableContainer {
  overflow-x: auto;
  max-width: 100%;
  & > table {
    position: sticky;
    top: 0;
    width: 100%;
  }
}

table {
  border-bottom: 5px solid var(--box-border-rightbottom);
  border-right: 5px solid var(--box-border-rightbottom);
  border-left: 5px solid var(--box-border-lefttop);
  border-top: 5px solid var(--box-border-lefttop);
  outline: 2px solid black;
  border-collapse: collapse;
  background-color: var(--box-bg);
  color: var(--text-color);
  overflow-x: scroll;
  margin-top: $text-margin;
  margin-bottom: $text-margin;
  &:hover {
  outline: 2px solid white;
  }
}

th, td {
  padding: 5px;
  border: 3px solid var(--box-border-lefttop);
}

details {
  border-radius: 15px;
  padding: .5rem .5rem 0;
  border: 3px solid rgba(var(--color-btn-bg), 1);
  margin-top: $text-margin;
  margin-bottom: $text-margin;
  & summary {
    font-weight: bold;
    margin: -.5rem -.5rem 0;
    padding: .5rem .8rem;
    cursor: pointer;
    background-color: rgba(var(--color-btn-bg), 1);
    border-radius: 10px;
    border: none;
    &:hover {
      background-color: rgba(var(--color-btn-bg-hover), 1);
    }
  }
}
details[open] {
  padding: .5rem .5rem .5rem;
}
details[open] > summary {
  border-radius: 10px 10px 0 0;
  margin-bottom: .5rem;
}

.custom-block {
  margin-top: $text-margin;
  margin-bottom: $text-margin;
  border-left: .5rem solid;
  padding: .1rem 1.5rem;
  overflow-x: auto;

  & p {
    display: block;
    margin-block-start: 0.8em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  &__title {
    margin-bottom: -0.4rem;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.custom-block.warning {
  border-color: #e7c000;
  color: #6b5900;
  background-color: #ffe5644d;
}

.custom-block.tip {
  border-color: #3eaf7c;
  background-color: #95ffe84d;
  color: #fff;
}

hr {
  display: block;
  height: 2px;
  width: 60%;
  border: 0;
  border-top: 1px solid #cccccc72;
  margin: 1rem auto;
  padding: 0;
}

.grid-page {
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: 
    auto
    1fr
    auto;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: $container-padding-sm;
  padding-right: $container-padding-sm;
}

.page-content {
  margin: 10px 0;
}

// ICONS
.rotateDown {
  transform: rotate(180deg);
}

svg[class^="pxico-"] {
  image-rendering: pixelated;
  shape-rendering: crispEdges;
  display: inline;
  width: 1.2rem;
  height: auto;
}

.icons {
  transition: color, 0.2s ease;
}
.icons.twitter:hover {
  color: #1DA1F2;
}

.icons.youtube:hover {
  color: #FF0000;
}

.icons.discord:hover {
  color: #7289da;
}

.icons.reddit:hover {
  color: #ff4500;
}

.icons.github:hover {
  color: #ddd;
}

// .main-content {
//   flex: 1;
// }

.hidden {
  transition: opacity 0.8s ease;
  opacity: 0 !important;
}

.mcbutton {
  background-color: var(--btn-bg);
  padding: 15px 15px 15px 15px;
  border-bottom: 2px solid var(--btn-border-rightbottom);
  border-right: 2px solid var(--btn-border-rightbottom);
  border-left: 2px solid var(--btn-border-lefttop);
  border-top: 2px solid var(--btn-border-lefttop);
  outline: 2px solid var(--btn-outline);
  color: var(--btn-text-color);
}

.mcbutton:hover {
  background-color: var(--btn-hover-bg);
  border-bottom: 2px solid var(--btn-hover-border-rightbottom);
  border-right: 2px solid var(--btn-hover-border-rightbottom);
  border-left: 2px solid var(--btn-hover-border-lefttop);
  border-top: 2px solid var(--btn-hover-border-lefttop);
  outline: 2px solid var(--btn-hover-outline);
  color: var(--btn-hover-text-color);
}
.mcbutton:active {
  background-color: var(--btn-hover-bg);
  border-bottom: 2px solid var(--btn-hover-border-lefttop);
  border-right: 2px solid var(--btn-hover-border-lefttop);
  border-left: 2px solid var(--btn-hover-border-rightbottom);
  border-top: 2px solid var(--btn-hover-border-rightbottom);
  outline: 2px solid var(--btn-hover-outline);
  color: var(--btn-hover-text-color);
}

.mcbutton-hsl {
  background-color: #700;
  padding: 15px 15px 15px 15px;
  border-bottom: 2px solid #380000;
  border-right: 2px solid #380000;
  border-left: 2px solid #8F0000;
  border-top: 2px solid #8F0000;
  outline: 2px solid #F00000;
  color: #d7d7d7;
}

.mcbutton-hsl:hover {
  background-color: #700;
  border-bottom: 2px solid #5C0000;
  border-right: 2px solid #5C0000;
  border-left: 2px solid #DB0000;
  border-top: 2px solid #DB0000;
  outline: 2px solid #F00000;
  color: #fff;
}
.mcbutton-hsl:active {
  background-color: #700;
  border-bottom: 2px solid #DB0000;
  border-right: 2px solid #DB0000;
  border-left: 2px solid #5C0000;
  border-top: 2px solid #5C0000;
  outline: 2px solid #F00000;
  color: #fff;
}

.cross-button {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  &:hover {
    background-color: #ffffff7a;
  }
  & svg {
    width: 24px;
    height: 24px;
  }
}

.date {
  position: relative;
  &__expand {
    visibility: hidden;
    max-width: 200%;
    width: max-content;
    background-color: #555;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: -50%;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }
  }
  &:hover > .date__expand {
    visibility: visible;
  }
}

dfn {
  background: rgba(var(--bg-color-opposite-rgb),0.2);
  border-bottom: dashed 1px rgba(var(--bg-color-opposite-rgb),0.8);
  padding: 0 0.1em;
  cursor: help;
  font-style: normal;
  position: relative;

  &::after {
    content: attr(data-info);
    display: inline;
    position: absolute;
    top: 22px; left: 0;
    opacity: 0;
    width: 230px;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.5em;
    padding: 0.5em 0.8em;
    background: rgba(0,0,0,0.8);
    color: #fff;
    pointer-events: none; /* This prevents the box from apearing when hovered. */
    transition: opacity 250ms, top 250ms;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 12px; left: 20px;
    opacity: 0;
    width: 0; height: 0;
    border: solid transparent 5px;
    border-bottom-color: rgba(0,0,0,0.8);
    transition: opacity 250ms, top 250ms;
  }

  &:hover {z-index: 2;}
  &:hover::after, &:hover::before {opacity: 1;}
  &:hover::after {top: 30px;}
  &:hover::before {top: 20px;}
}

// Colors
.minecraft-black {
  color: #000000;
  text-shadow: 1px 1px 0 #000000;
}

.minecraft-dark-blue {
  color: #0000aa;
  text-shadow: 1px 1px 0 #00002a;
}

.minecraft-dark-green {
  color: #00aa00;
  text-shadow: 1px 1px 0 #002a00;
}

.minecraft-dark-aqua {
  color: #00aaaa;
  text-shadow: 1px 1px 0 #002a2a;
}

.minecraft-dark-red {
  color: #aa0000;
  text-shadow: 1px 1px 0 #2a0000;
}

.minecraft-dark-purple {
  color: #aa00aa;
  text-shadow: 1px 1px 0 #2a002a;
}

.minecraft-gold {
  color: #ffaa00;
  text-shadow: 1px 1px 0 #2a2a00;
}

.minecraft-gray {
  color: #aaaaaa;
  text-shadow: 1px 1px 0 #2a2a2a;
}

.minecraft-dark-gray {
  color: #555555;
  text-shadow: 1px 1px 0 #151515;
}

.minecraft-blue {
  color: #5555ff;
  text-shadow: 1px 1px 0 #15153f;
}

.minecraft-green {
  color: #55ff55;
  text-shadow: 1px 1px 0 #153f15;
}

.minecraft-aqua {
  color: #55ffff;
  text-shadow: 1px 1px 0 #153f3f;
}

.minecraft-red {
  color: #ff5555;
  text-shadow: 1px 1px 0 #3f1515;
}

.minecraft-light-purple {
  color: #ff55ff;
  text-shadow: 1px 1px 0 #3f153f;
}

.minecraft-yellow {
  color: #ffff55;
  text-shadow: 1px 1px 0 #3f3f15;
}

.minecraft-white {
  color: #ffffff;
  text-shadow: 1px 1px 0 #3f3f3f;
}

.nav-burger {
  display: none;
}

.top-nav {
  z-index: 100;
  list-style: none;
  border-bottom: 10px solid var(--box-border-rightbottom);
  border-left: 10px solid var(--box-border-lefttop);
  border-right: 10px solid var(--box-border-rightbottom);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: 5px solid black;
  background-color: var(--box-bg);
  display: flex;
  flex-wrap: nowrap;
  // overflow-x: visible;
  // overflow-y: hidden;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  max-width: clamp(50vw, 80vw, 90vw);
  padding-left: 0;

  & li {
    & span {
      padding: 30px 0;
      font-size: 1.2em;
      font-family: $primary-font;
      color: var(--box-text-color);
      text-shadow: 0px 3px #00000051;
    }
    & svg {
      width: 0.8em;
    }
    & a {
      text-decoration: none;
    }
    & button, select {
      width: auto;
      height: auto;
      padding: 12px;
      & svg {
        width: 1.5em;
      }
    }
    &:hover {
      background-color: #00000034;
    }
    &:active {
      background-color: #00000053;
    }
  }

  &__link {
    text-align: center;
    padding: clamp(5px, 18px, 20px);
    font-weight: 600;
    display: block;
  }
  
  &__logo {
    //border-right: 11px solid var(--box-border-rightbottom);
    max-width: 200px;
    height: 100%;
    padding: 0 10px;

    & a img {
      max-width: 80px;
    }
    &:hover {
      background-color: #00000034;
    }
    &:active {
      background-color: #00000053;
    }
  }

  &__link-group {
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
    margin: 0;
  }
  &__dropDownParent {
    position: relative;
    &:hover > .top-nav__dropDown {
      display: block;
    }
  }
  &__dropDown {
    list-style: none;
    display: none;
    position: absolute;
    min-width: 100%;
    overflow: visible;
    top: 100%;
    left: 0;
    background-color: var(--box-bg);
    & > li {
      padding: 10px 0;
      & span {
        padding: 0;
      }
    }
  }
}

#themeToggler {
  font-size: large;
  font-family: $primary-font;
  padding: 10px 0 10px 10px;
  margin-top: 10%;
}

.youtubeEmbed {
  position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;
  &__iframe {
    position: absolute;
    top: 50%; left: 50%;
    width: 80%; height: 80%;
    transform: translate(-50%, -50%);
    border: 0;
  }
}

.pdfEmbed {
  display: flex;
  justify-content: center;
}

// Footer area

.footer-content {
  color: #d8d8d8;
  &__left-group {
    width: 100%;
    margin-bottom: 5px;
  }

  &__site-name {
    font-size: 1.2rem;
    color: #d8d8d8;
  }

  &__right-group {
    width: 100%;
    margin-bottom: 5px;
  }
}

.footer-social {
  width: 100%;
  display: flex;
  margin-top: 5px;

  & .links {
    padding: 8px;
    font-size: .8rem;
    margin-right: 5px;
    color: #bababa;
    text-decoration: underline;
  }

  & .icons {
    padding: 8px;
    font-size: 1.5rem;
    margin-right: 10px;

    &:first-child {
      margin-left: -12px;
    }
  }
}

// Homepage and blog list styles

#parallax-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#parallax {
  position: relative;
  display: flex;
  flex: auto;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  object-fit: cover;
  pointer-events: none;
}

#parallax__aboutbg {
  z-index: 50;
  position: absolute;
  top: 75%;
  padding: 15px;
  font-family: $primary-font;
  font-size: large;
}

#parallax__scrollDown {
  opacity: 1;
  z-index: 52;
  position: absolute;
  top: 92%;
  padding: 5px;
  & svg {
    transform: rotate(0.5turn);
    color: white;
    filter: drop-shadow(-5px -5px 0px black);
  }
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.7;
  }
}

#parallax::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(to top, var(--bg-color), transparent);
  z-index: 51;
}

.indexsec {
  background-color: var(--bg-color);
  z-index: 50;
  position: relative;
  padding: 100px;
}

article section.mainArticle {
  max-width: 100ch;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  & ul, ol {
    line-height: 1.6rem;
    padding-left: 20px;
  }
}

.figurePopup {
  min-width: fit-content;
  max-width: 80%;
  display: block;
  margin: $text-margin auto;
  cursor: pointer;

  & img {
    width: 100%;
    height: auto;
    opacity: 1;
    transition: opacity 0.2s ease;
    border-image: url("/images/figure_border.png") 10 round;
    border-image-slice: 40 40 40 40;
    border-image-width: 35px;
    border-image-outset: 6px 6px 6px 6px;
    border-image-repeat: stretch stretch;
    border-image-source: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHgAAAB4CAMAAAAOusbgAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAPUExURSUmIU1LTG9yb3t9fwAAADOLhD8AAAAFdFJOU/////8A+7YOUwAAAAlwSFlzAAAOwAAADsABataJCQAAAONJREFUaEPt2UsOgzAQBFES5/5njqz0jvgDYnosud4KkGdqb45Zn0k6/hztHdLxGa8J2jpFI13Z4XdXKdo4rRSNNqwdvp6t+uk1wqVBmy7T+MlKYU2EIkw4DGHCYQgTDkOYcJh1wp5sVdP5YV+2KiU/rC822WG9WWWG9WRH2IawDWEbwjaEbQjbELYhbEPYhrANYRvCNoRtNrzZ2/H2dscb+v3+wiT+8CIchTDhMIQJhyFMOAzh3PB/mrhM4yfrhFvupX+BlrXDd9L97ArhMW2copGu3PAcbR3S8edo75CODxzHF3yIyEGe0+S0AAAAAElFTkSuQmCC");
    border-style: solid;
  }

  &:hover img {
    opacity: 0.7;
    transition: opacity 0.2s ease;
  }

  & figcaption {
  text-align: center;
  transform: translate(0, -25%);

    & p, h4 {
      line-height: normal;
      font-size: 0.8em;
    }
  }
}

.hanchor {
  display: inline;
  &__div {
    margin-top: 2.2rem;
    margin-bottom: 1.2rem;
    &:hover > .hanchor__anchor {
      display: inline;
    }
  }
  &__anchor {
    display: none;
    & svg {
      width: 0.8em;
    }
  }
}

.backToTop {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  transition: opacity 0.8s ease;
  opacity: 1;
  &.hidden {
    display: none;
  }
}



.b-hero {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;

  &__image {
    object-fit: contain;
    max-width: 50%;
    margin-right: 40px;
  }

  &__info {
    max-width: 50%;
    align-self: center;
  }

  &__author-date {
    width: 100%;
    & > span {
      display: block;
      padding: 5px 0;
    }
  }
  &__title {
    padding:0;
    padding-bottom: 15px;
  }
}

.b-table-of-contents {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  

  &__content {
    display: flex;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-direction: row;
    padding-right: 8px;
    padding-left: 5px;
    background-color: #0005;
  }
  &__h2 {
    padding-left: 5px;
  }
  &__text {
    max-width: 20ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    & a {
      color: var(--text-color);
    }
  }

  &__number {
    color: #f55;
    padding-left: 5px;
    pointer-events: none;
  }

  &__header {
    font-weight: bold;
    background-color: #0008;
    padding-right: 8px;
    padding-left: 5px;
    color: var(--text-color);
    text-align: center;
  }
}

.b-downloads {
  display: flex;
  &__element {
    opacity: 1;
    transition: opacity 0.3s;
    text-align: center;
    background-color: var(--box-bg);
    border: 3px solid var(--box-border-rightbottom);
    padding: 10px;
    margin: 0 5px;
    & i {
      display: block;
      color: var(--text-color);
      font-size: 4rem;
      transition: transform, text-shadow, 0.3s ease;
    }
    & p {
      max-width: 15ch;
      margin-top: 10px;
    }
    &:hover {
      opacity: 0.5;
      & > i {
        transform: translateY(-5%);
        text-shadow: 0 2px 4px var(--text-color);
      }
    }
  }
}

.taxonomies {
  display: flex;
  margin: 5px 0;

  &__text {
    margin: 10px;
  }

  &__tag-group {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  
    & .tag {
      padding: 2px 5px;
      background-color: #212121;
      border: 4px solid #555;
      border-radius: 5px;
      outline: 2px solid black;
      margin-right: 10px;
      margin-bottom: 10px;
      cursor: pointer;
      white-space: nowrap;
    }
  
    & .tag:hover {
      background-color: #002100;
      border: 4px solid #050;
    }
  }
}

#remark42 {
  margin-top: 20px;
}

.post-preview-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 15px;
  list-style-type: none;
}

.post-preview {
  background-color: #494949;
  &__top {
    width: 100%;
    border: 3px solid black;
    object-fit: cover;
  }

  &__bottom { 
    width: 95%;
    padding: 10px;
    & h3 {
      padding: 0;
    }
  }
  &:hover {
    outline: 3px solid #dfdfdf;
  }
}

.preview-title {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 5px;
}

.seeAlso {
  grid-template-columns: repeat(3, minmax(50px, 400px));
}

// Resources
.resources-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 400px));
  gap: 15px;
  list-style-type: none;
}

.resources-preview {
  background-color: #4949497a;
  border: 3px solid #161616;
  position: relative;
  transition: background-color, box-shadow, transform, border, 0.4s ease;
  &__top, img {
    width: 100%;
    max-height: 80%;
    object-fit: cover;
  }
  &__top {
    //position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: 0.5;
    font-size: 2rem;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.2em;
    padding: 0.2em;
    height: auto;
    color: var(--text-color);
    font-family: $monospace-font;
    transition: opacity, 0.4s ease;
  }
  &__bottom {
    width: 95%;
    padding: 10px;
    overflow-wrap: break-word;
  }
  & h3 {
    padding: 0;
  }
  &:hover {
    background-color: #49494947;
    box-shadow: 0 10px 10px #00000078;
    transform: translateY(-2%);
    border: 3px solid #fff;
    & .resources-preview__top {
      opacity: 0.9;
    }
  }
}

.resources-image {
  cursor: pointer;
}

.download-button {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 5px;
  cursor: pointer;

  &:hover {
    background-color: #ffffff7a;
  }
  & i {
    font-size: 25px;
  }
}

// Tools

.tools-grid {
  grid-template-columns: repeat(4, minmax(320px, 500px));
}

.tools-preview {
  background-color: #4949497a;
  border: 3px solid #161616;
  &:hover {
    background-color: #49494947;
    border: 3px solid #fff;
  }
  &__top, img {
    width: 100%;
    max-height: 80%;
    object-fit: cover;
  }
  &__top {
    isolation: isolate;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 35%;
      background: linear-gradient(to top, black, transparent);
    }
    & h3 {
      z-index: 1;
      color: var(--text-white);
      padding: 0;
      position: absolute;
      bottom: 5px;
      left: 5px;
    }
  }
  &__bottom {
    padding: 5px;
  }
}

// OTHER

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.pageblock {
  animation: fadeIn 0.5s ease;
  background-color: #0008;
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  transition: opacity .5s ease;
}

#cookie-consent-popup {
  width: max-content;
  max-width: 95%;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  opacity: 1;
  z-index: 1000;
  background-image: url("/cookies.png");
  background-repeat: no-repeat;
  background-position: left top;
  border-radius: 10px;
  box-shadow: 10px 10px #0000006b;
  &__header {
    font-size: 2em;
    font-family: $heading-font;
  }
  & p {
    font-weight: bold;
  }
}

#aboutbg {
  width: max-content;
  max-width: 95%;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  margin: auto;
  padding: 3em 1em 1em 1em;
  background-color: var(--box-bg);
  opacity: 1;
  z-index: 1000;
  border-bottom: 8px solid var(--box-border-rightbottom);
  border-right: 8px solid var(--box-border-rightbottom);
  border-left: 8px solid var(--box-border-lefttop);
  border-top: 8px solid var(--box-border-lefttop);
  outline: 4px solid black;
  border-radius: 4px;
  transition: width, height 1s ease;
}

#aboutbg-text {
  font-size: large;
}

#aboutbg-text-header {
  color: #3a3a3a;
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px;

  & img {
    top: 50%;
    left: 50%;
    -moz-transform: translateX(20%) translateY(20%);
    -webkit-transform: translateX(20%) translateY(20%);
    transform: translate(20%, 20%);
  }
}

#aboutbg-text-p {
  background-color: #3c3c3c;
  padding: 5px 10px 5px 10px;
  border-top: 4px solid var(--box-border-rightbottom);
  border-left: 4px solid var(--box-border-rightbottom);
  border-right: 4px solid var(--box-border-lefttop);
  border-bottom: 4px solid var(--box-border-lefttop);

  & p {
    color: #fff;
  }
}

#image-popup {
  position: fixed;
  width: auto;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  z-index: 1000;
  background-color: var(--box-bg);
  border-bottom: 8px solid var(--box-border-rightbottom);
  border-right: 8px solid var(--box-border-rightbottom);
  border-top: 8px solid var(--box-border-lefttop);
  border-left: 8px solid var(--box-border-lefttop);
  outline: 4px solid black;
  padding: 10px;
  padding-top: 32px;

  &__image {
    max-width: 90vw;
    max-height: 75vh;
    margin-bottom: 0;
  }

  &__text {
    padding-left: 5px;
  }

  &__download {
    &:visited, :hover, :active {
      text-decoration: none;
      color: #fff;
    }
    color: #fff;
    position: absolute;
    top: 0;
    right: 32px;
    cursor: pointer;

    &:hover {
      background-color: #ffffff7a;
    }
    & svg {
      width: 24px;
      height: 24px;
    }
  }
}

@keyframes slideIn {
  0% { transform: translateY(500%); }
  100% { transform: translateY(0%); }
}
@keyframes slideOut {
  0% { transform: translateY(0%); }
  100% { transform: translateY(500%); }
}

.slideIn {
  animation: slideIn 0.5s ease forwards;
}
.slideOut {
  animation: slideOut 0.5s ease forwards;
}

#customAlert {
  display: none;
  position: fixed;
  bottom: 4%;
  left: 4%;
  z-index: 1000;
  max-width: 60%;
  transition: 0.4s;
  padding: 10px;
  pointer-events: none;
  background-color: #a40000;
  border: 2px solid #fff6f6b0;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next {
  color: var(--bg-color-opposite);
}
.swiper .swiper-pagination-bullet {
  background: var(--bg-color-opposite);
}
.swiper .swiper-pagination-bullets {
  bottom: -2px;
}


// Media queries

// Phone menu
@media screen and (max-width: 660px) {
  html, body {
    font-size: 18px;
  }
  .container {
    padding-left: $container-padding-sm;
    padding-right: $container-padding-sm;
  }
  .page-content {
    padding: 0;
    margin: 0.5em 0 60px 0;
  }

  .post-preview-grid {
    grid-template-columns: 1fr;
  }

  .b-table-of-contents {
    position: inherit;
    transform: none;
    &__content {
      justify-content: space-between;
      padding-right: 5px;
      padding-left: 5px;
    }
  }

  .b-hero {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
  
    &__image {
      max-width: 100%;
      margin: inherit;
    }
    &__info {
      max-width: 100%;
    }
    &__title {
      font-size: 1.8rem;
    }
  }
  .taxonomies {
    margin: 10px 0;
  }

  .indexsec {
    padding: $container-padding-sm;
  }

  .resources-grid {
    grid-template-columns: repeat(auto-fit, minmax(50px, 400px));
  }

  .tools-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
  }

  .nav-burger {
    z-index: 101;
    display: block;
    position: fixed;
    top: 10px;
    left: 10px;
    width: 1.5rem;
  }

  .top-nav[opened] {
    display: flex;
    transform: translateY(0%);
    transition: transform, 1s ease;
  }
  .top-nav {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: auto;
    max-width: 100%;
    transform: translateY(-150%);
    transition: transform, 1s ease;

    & li { 
      & span {
        padding: 15px 0;
        font-size: 1.1rem;
      }
      & button {
        padding: 5px;
      }
    }

    &__logo {
      align-items: center;
      & a img {
        max-width: 55px;
      }
    }
    &__link {
      padding: 10px;
    }

    &__link-group {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__dropDownParent {
      & > svg {
        display: inline;
        padding: 5px 10px;
        &:hover {
          background: #ffffffce;
        }
        &:active {
          background: #ffffff91;
        }
      }
    }
  }
  #themeToggler {
    padding: 5px 0 5px 5px;
    margin-top: 0;
  }
  .seeAlso {
    grid-template-columns: repeat(1, minmax(50px, 400px));
  }
  #cookie-consent-popup {
    padding: 1rem 2rem 1rem 2rem;
  }
  #aboutbg-text {
    font-size: 1em;
  }
}

// Tablet menu
@media screen and (min-width: 661px) and (max-width: 1090px){
  .page-content {
    padding: 0;
    margin: 4.2em 0 60px 0;
  }
  .top-nav {
    max-width: 100%;
    & li { 
      & span {
        padding: 15px 0;
        font-size: 1.1rem;
      }
      & button {
        padding: 5px;
      }
    }
    &__logo a img {
      max-width: 55px;
    }
    &__link {
      padding: 10px;
    }
    #themeToggler {
      padding: 5px 0 5px 5px;
    }
    &__dropDownParent {
      & > svg {
        display: inline;
        padding: 5px 10px;
        &:hover {
          background: #ffffffce;
        }
        &:active {
          background: #ffffff91;
        }
      }
    }
  }
  .seeAlso {
    grid-template-columns: repeat(2, minmax(50px, 400px));
  }
}

@media screen and (min-width: 800px) and (max-width: 1090px){
  .top-nav {
    max-width: 90vw;
  }
}

// Desktop menu 

@media screen and (min-width: 1091px) {
  .page-content {
    padding: 0;
    margin: 5.5em 0 80px 0;
  }

  .container {
    padding-left: $container-padding-lg;
    padding-right: $container-padding-lg;
  }

  .footer-content {
    display: flex;

    &__left-group{
      width: 60%;
    }

    &__right-group {
      width: 40%;
    }
  }
    
}
