$primary-font: "Minecraft", 'Gill Sans', Calibri, Tahoma, sans-serif;
$text-font: "Open Sans", Calibri, Tahoma, sans-serif;
$heading-font: "minecraftHeaderFont", sans-serif;
$text-color: #e8e8e8;
$text-color-rgb: 232, 232, 232;

@font-face {
    font-family: "Minecraft";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src:
      local("Minecraft "),
      local("Minecraft"),
      url("/fonts/minecraft.woff2") format("woff2"),
      url("/fonts/minecraft.woff") format("woff");
  }
  
@font-face {
  font-family: "minecraftHeaderFont";
  src: url(/fonts/minecraftten.woff);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    width: 100dvw;
    font-family: $text-font;
    font-size: 20px;
    color: $text-color;
    background: #1C1C1C;
    display: flex;
    flex-direction: column;
}

h1, h2 {
    font-family: $heading-font;
    font-weight: normal;
    padding: 20px 2px;
}
h3, h4, h5, h6 {
    font-family: $primary-font;
    font-weight: normal;
    padding: 20px 0;
}

a {
    text-decoration: none;
    color: $text-color;
}
a:active {
    text-decoration: underline;
}

label {
    display: block;
}

select, input, button {
    outline-color: transparent;
}

select {
    border: 1px solid #151515;
    padding: 0.4em 0;
    padding-left: 0.6em;
    background-color: #434343;
    color: $text-color;
    font-size: .9em;
    margin: .1em;
    margin-left: 0;
    cursor: pointer;
    &:active {
        border: 1px solid #e4e4e4;
    }
}

input {
    border: 1px solid #151515;
    padding: 0.2em;
    background-color: #434343;
    color: $text-color;
    font-size: .9em;
    margin: .1em;
    margin-left: 0;
    &:active {
        border: 1px solid #e4e4e4;
    }
}

button {
    padding: 0.4em;
    border: 1px solid #151515;
    background-color: #434343;
    color: $text-color;
    font-size: .9em;
    margin: .1em;
    margin-left: 0;
    cursor: pointer;
    &:hover {
        background-color: #575757;
    }
    &:active {
        background-color: #777777;
        border: 1px solid #e4e4e4;
    }
}


header {
    display: flex;
    align-items: center;
    background: #5c5c5c;
    border-bottom: 0.6em solid #494949;
    outline: 0.3em solid #3c3c3c;
    margin-bottom: 0.4em;
    & h1 {
        font-family: $primary-font;
        padding: 0;
        padding-left: 1.2em;
        border-left: 2px solid #494949;
    }
    & > * {
        margin-right: .6em;
    }
}

nav {
    display: flex;
    align-items: center;
    & > img {
        max-height: 45px;
        margin: 5px 10px;
    }
}

.dropDownParent {
    margin: 0 1em;
    padding: 0.4em;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    & > h2 {
        display: inline;
        padding: 0;
    }
    &:hover {
        background-color: #737373;
        & > .dropDown {
            display: block;
        }
    }
    &:active {
        background-color: #888888;
    }
}
.dropDown {
    list-style: none;
    display: none;
    position: absolute;
    min-width: 200%;
    top: 100%;
    left: 0;
    overflow: visible;
    background: #5c5c5c;
    z-index: 1;
    & > li {
        padding: 10px 0;
        padding-left: 10px;
        & h3 {
            padding: 0;
        }
        &:hover {
            background-color: #737373;
        }
    }
}

.caret {
    display: inline;
    width: 0;
    height: 0;
    margin-left: 4px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.page-rows {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.page-columns {
    display: flex;
    flex-direction: row;
    height: 50%;
    & > section {
        width: 50%;
        margin: .5em;
        padding: .6em;
        border: 0.8em solid #333333;
        border-top: 2.1em solid #333333;
        border-radius: 12px;
        min-width: min-content;
        position: relative;
        &:last-child {
            flex: 1;
        }
        &::before {
            content: attr(data-title);
            position: absolute;
            top: -32px;
            left: 1px;
            font-family: $primary-font;
        }
    }
    min-height: 15%;
    &:last-child {
        flex: 1;
    }
}

.resizer {
    background-color: #a7aeb5;
    transition: background-color 0.5s ease;
    &:hover {
        background-color: #cbd5e0;
    }
}

.resizer[data-direction='horizontal'] {
    cursor: ew-resize;
    width: 2px;
    margin: 4em 0;
}
.resizer[data-direction='vertical'] {
    cursor: ns-resize;
    height: 3px;
    width: 100%;
}

@keyframes slideIn {
    0% { transform: translateY(500%); }
    100% { transform: translateY(0%); }
}
@keyframes slideOut {
    0% { transform: translateY(0%); }
    100% { transform: translateY(500%); }
}

.slideIn {
    animation: slideIn 0.5s ease forwards;
}
.slideOut {
    animation: slideOut 0.5s ease forwards;
}

#customAlert {
    display: none;
    position: fixed;
    bottom: 4%;
    left: 4%;
    z-index: 1000;
    max-width: 60%;
    transition: 0.4s;
    padding: 10px;
    pointer-events: none;
    background-color: #a40000;
    border: 2px solid #fff6f6b0;
}

.helphint {
    padding: 0.2em 0.4em;
    font-weight: bold;
    border-radius: 5px;
}

dfn {
    background: rgba($text-color,0.2);
    border-bottom: dashed 1px rgba($text-color,0.8);
    padding: 0 0.1em;
    cursor: help;
    font-style: normal;
    position: relative;
  
    &::after {
        content: attr(data-info);
        display: inline;
        position: absolute;
        top: 22px; left: 0;
        opacity: 0;
        width: 230px;
        font-size: 13px;
        font-weight: 700;
        line-height: 1.5em;
        padding: 0.5em 0.8em;
        background: rgba(0,0,0,0.8);
        color: #fff;
        pointer-events: none; /* This prevents the box from apearing when hovered. */
        transition: opacity 250ms, top 250ms;
    }
  
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 12px; left: 10px;
        opacity: 0;
        width: 0; height: 0;
        border: solid transparent 5px;
        border-bottom-color: rgba(0,0,0,0.8);
        transition: opacity 250ms, top 250ms;
    }
  
    &:hover {z-index: 2;}
    &:hover::after, &:hover::before {opacity: 1;}
    &:hover::after {top: 30px;}
    &:hover::before {top: 20px;}
}

@media screen and (max-width: 620px) {
    .resizer {
        display: none;
    }
    .page-columns {
        flex-direction: column;
        & > section {
            width: 97%;
        }
    }
}

@media screen and (max-width: 480px) {
    header {
        & h1 {
            font-size: 0.8em;
        }
    }
    nav {
        & > img {
            max-height: 30px;
            margin: 0 10px;
        }
    }
}
