{{ define "main" }}
    <h1>Blog posts</h1>
    {{ range (.Site.GetPage "section" "blog").Pages }}
    <div class="post-preview">
        <a href="{{ .Permalink }}"><img class="post-preview__top" src="{{ .Params.image }}"></a>
        <div class="post-preview__bottom">
            <div class="taxonomies" style="flex-direction: column;">
                <div class="taxonomies__tag-group" style="margin: 4px 0;">
                    {{ range .Params.categories }}
                        <div class="tag">
                            <span class="tag-text">
                                <a href="/categories/{{. | urlize }}">{{.}}</a>
                            </span>
                        </div>
                    {{end}}
                </div>
                <div class="taxonomies__tag-group" style="margin: 4px 0;">
                    {{ range .Params.tags }}
                        <div class="tag">
                            <span class="tag-text">
                                <a href="/tags/{{. | urlize }}">{{.}}</a>
                            </span>
                        </div>
                    {{end}}
                </div>
            </div>
            <h3 style="color: #fff;"><a class="preview-title" href="{{ .Permalink }}">{{ .Title }}</a></h3>
            <span style="color: #fff;">{{ .Date.Format "January 2, 2006" }}</span>
        </div>
    </div>
    {{ end }}
{{ end }}