{{ define "main" }}
    <h1>Blog posts</h1>
    <ul class="post-preview-grid">
    {{ range (.Site.GetPage "section" "blog").Pages }}
    <li class="post-preview">
        <a href="{{ .Permalink }}">
            <img class="post-preview__top" src="{{ .Params.image }}">
        </a>
        <div class="post-preview__bottom">
            <div class="taxonomies" style="flex-direction: column;">
                <div class="taxonomies__tag-group" style="margin: 4px 0;">
                    {{ range .Params.categories }}
                        <div class="tag">
                            <span class="tag-text">
                                <a href='{{ relLangURL "categories/" }}{{. | urlize }}'>{{.}}</a>
                            </span>
                        </div>
                    {{end}}
                </div>
                <div class="taxonomies__tag-group" style="margin: 4px 0;">
                    {{ range .Params.tags }}
                        <div class="tag">
                            <span class="tag-text">
                                <a href='{{ relLangURL "tags/" }}{{. | urlize }}'>{{.}}</a>
                            </span>
                        </div>
                    {{end}}
                </div>
            </div>
            <a href="{{ .Permalink }}">
                <h3 class="preview-title" style="color: #fff;">{{ .Title }}</h3>
                <span style="color: #fff;">{{ .Date.Format "January 2, 2006" }}</span>
            </a>
        </div>
    </li>
    {{ end }}
    </ul>
{{ end }}