{{ define "main" }}
<article>
    <meta itemprop="image" content="/blog/{{ .Params.image }}">
    <meta itemprop="publisher" content="xxlsteve.net">
    <div class="b-hero" itemscope itemtype="https://schema.org/BlogPosting">
        <img class="b-hero__image" src="/blog/{{ .Params.image }}">
        <div class="b-hero__info">:
            <header>
                <h1 class="b-hero__title" itemprop="name headline">{{ .Title }}</h1>
            </header>
            <div class="b-hero__author-date">
                <span>By <a href="/about" itemprop="author" name="XXL Steve">{{ .Params.author }}</a></span>
                <span>Published: {{ .Date.Format "January 2, 2006" }}</span>
                <span>Updated: {{ .Lastmod.Format "January 2, 2006" }}</span>
            </div>
        </div>
    </div>
    <div class="taxonomies">
        <span class="taxonomies__text">Categories:</span>
        <div class="taxonomies__tag-group">
            {{ range .Params.categories }}
                <div class="tag">
                    <span class="tag-text">
                        <a href="/categories/{{. | urlize }}">{{.}}</a>
                    </span>
                </div>
            {{end}}
        </div>
        <span class="taxonomies__text">Tags:</span>
        <div class="taxonomies__tag-group">
            {{ range .Params.tags }}
                <div class="tag">
                    <span class="tag-text">
                        <a href="/tags/{{. | urlize }}">{{.}}</a>
                    </span>
                </div>
            {{end}}
        </div>
    </div>
    <aside>
        <div class="b-table-of-contents">
        <div class="b-table-of-contents__header">
            Table of Contents
        </div>
        <div class="b-table-of-contents__content">
            <div class="b-table-of-contents__text">
                {{ range .Params.tableOfContents }}
                <a href="#{{ anchorize .h1 }}">
                    <span class="b-table-of-contents__h1"> {{ .h1 }} </span>
                </a>
                <br>
                    {{ with .h2 }}
                        {{ range . }}
                            <a href="#{{ anchorize .t2 }}">
                                <span class="b-table-of-contents__h2"> {{ .t2 }} </span>
                            </a>
                            <br>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </div>
            <div class="b-table-of-contents__number">
                {{ range .Params.tableOfContents }}
                    {{ .n1 }}
                    <br>
                    {{ with .h2 }}
                        {{ range . }}
                                {{ .n2 }}
                                <br>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </div>
        </div>
        
        </div>
    </aside>
    <div itemprop="headline">
    {{ .Content }}
    </div>
</article>
    
{{ partial "image-popup.html" }}

{{ end }}