{{ define "headfiles" }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script>
    window.onload = () => {
        document.querySelectorAll(".swiper").forEach(elm => {
            const swiper = new Swiper(`#${elm.id}`, {
                loop: true,

                pagination: {
                  el: '.swiper-pagination',
                  clickable: true,
                },
            
                navigation: {
                  nextEl: '.swiper-button-next',
                  prevEl: '.swiper-button-prev',
                },
            });
        });
    }
</script>
{{ end }}
{{ define "main" }}
<article>
    <section>
    <meta itemprop="image" content="/blog/{{ .Params.image }}">
    <meta itemprop="publisher" content="xxlsteve.net">
    <div class="b-hero" itemscope itemtype="https://schema.org/BlogPosting">
        <img class="b-hero__image" src="/blog/{{ .Params.image }}">
        <div class="b-hero__info">
            <header>
                <h1 class="b-hero__title" itemprop="name headline">{{ .Title }}</h1>
            </header>
            <div class="b-hero__author-date">
                <span>{{ i18n "author" }} <a href="/about" itemprop="author" name="{{ .Params.author }}">{{ .Params.author }}</a></span>
                <span>{{ i18n "published" }} <span class="date">{{ .Date | time.Format ":date_long" }}<span class="date__expand">{{ .Date | time.Format ":date_full" }} {{ .Date | time.Format ":time_full" }}</span></span></span>
                <span>{{ i18n "updated" }} <span class="date">{{ .Lastmod | time.Format ":date_long" }}<span class="date__expand">{{ .Lastmod | time.Format ":date_full" }} {{ .Lastmod | time.Format ":time_full" }}</span></span></span>
                <span>{{ i18n "readingTime" }} <span class="date">{{ .ReadingTime }} min<span class="date__expand">{{ i18n "wordCount" .WordCount }}</span></span></span>
            </div>
        </div>
    </div>
    <div class="taxonomies">
        <span class="taxonomies__text">Categories:</span>
        <div class="taxonomies__tag-group">
            {{ range .Params.categories }}
                <div class="tag">
                    <span class="tag-text">
                        <a href="/categories/{{. | urlize }}">{{.}}</a>
                    </span>
                </div>
            {{end}}
        </div>
        <span class="taxonomies__text">Tags:</span>
        <div class="taxonomies__tag-group">
            {{ range .Params.tags }}
                <div class="tag">
                    <span class="tag-text">
                        <a href="/tags/{{. | urlize }}">{{.}}</a>
                    </span>
                </div>
            {{end}}
        </div>
    </div>
    </section>
    <aside>
        <div class="b-table-of-contents">
        <div class="b-table-of-contents__header">
            {{ i18n "tableOfContents" }}
        </div>
        <div class="b-table-of-contents__content">
            <div class="b-table-of-contents__text">
                {{ range .Params.tableOfContents }}
                <a href="#{{ anchorize .h1 }}">
                    <span class="b-table-of-contents__h1"> {{ .h1 }} </span>
                </a>
                <br>
                    {{ with .h2 }}
                        {{ range . }}
                            <a href="#{{ anchorize .t2 }}">
                                <span class="b-table-of-contents__h2"> {{ .t2 }} </span>
                            </a>
                            <br>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </div>
            <div class="b-table-of-contents__number">
                {{ $tocCount := 0 }}
                {{ range .Params.tableOfContents }}
                    {{ $tocCount = add $tocCount 1 }}
                    {{ $tocCount }}
                    <br>
                    {{ with .h2 }}
                        {{ $tocCountH2 := 0 }}
                        {{ range . }}
                            {{ $tocCountH2 = add $tocCountH2 1 }}
                            {{ $tocCount }}.{{ $tocCountH2 }}
                            <br>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </div>
        </div>
        
        </div>
    </aside>
    <hr>
    <section itemprop="headline" class="mainArticle">
    {{ .Content }}
    </section>
    {{ with .Params.downloads }}
        <br>
        <section>
            <div class="hanchor__div">
            <h2 class="hanchor" id='{{ anchorize (i18n "downloads") }}'>{{ i18n "downloads" }}</h2><a href='#{{ anchorize (i18n "downloads") }}' class="hanchor__anchor" title="Anchor: Downloads"><i class="fa-sharp fa-solid fa-link"></i></a>
            </div>
            <div class="b-downloads">
                {{ range . }}
                    <a href="{{ .dl }}" class="noA b-downloads__element" target="_blank" rel="noopener noreferrer">
                        <i class="fa-solid fa-download"></i>
                        <p>{{ .text }}</p>
                    </a>
                {{ end }}
            </div>
        </section>
    {{ end }}
</article>

{{ $related := .Site.RegularPages.Related . | first 3 }}
{{ with $related }}
    <aside>
        <h2>{{ i18n "seeAlso" }}</h2>
        <ul class="post-preview-grid seeAlso noUl">
            {{ range . }}
              <div class="post-preview">
                <a href="{{ .Permalink }}">
                    <img class="post-preview__top" src="/blog/{{ .Params.image }}">
                </a>
                <div class="post-preview__bottom">
                    <div class="taxonomies" style="flex-direction: column;">
                        <div class="taxonomies__tag-group" style="margin: 0 0;">
                            {{ range .Params.categories }}
                                <div class="tag">
                                    <span class="tag-text">
                                        <a href='{{ relLangURL "categories/" }}{{. | urlize }}'>{{.}}</a>
                                    </span>
                                </div>
                            {{end}}
                        </div>
                        <div class="taxonomies__tag-group" style="margin: 0 0;">
                            {{ range .Params.tags }}
                                <div class="tag">
                                    <span class="tag-text">
                                        <a href='{{ relLangURL "tags/" }}{{. | urlize }}'>{{.}}</a>
                                    </span>
                                </div>
                            {{end}}
                        </div>
                    </div>
                    <a href="{{ .Permalink }}">
                        <h3 class="preview-title" style="color: #fff;">{{ .Title }}</h3>
                        <span style="color: #fff;">{{ .Date | time.Format ":date_long" }}</span>
                    </a>
                </div>
                
              </div>
            {{ end }}
        </ul>
    </aside>
{{ end }}

<!-- Comments -->
<script>
    var remark_config = {
        host: "{{ .Site.Params.remark42Url }}",
        site_id: "{{ .Site.Params.remark42SiteID }}",
        url: "{{ .Permalink }}",
        locale: "{{ .Site.Language.Lang }}",
        max_shown_comments: 10
    }
</script>
<script>!function(e,n){for(var o=0;o<e.length;o++){var r=n.createElement("script"),c=".js",d=n.head||n.body;"noModule"in r?(r.type="module",c=".mjs"):r.async=!0,r.defer=!0,r.src=remark_config.host+"/web/"+e[o]+c,d.appendChild(r)}}(remark_config.components||["embed"],document);</script>

<div id="remark42"></div>

{{ partial "image-popup.html" }}

{{ end }}