<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    {{ partial "head-meta.html" . }}
    {{ block "headfiles" . }}
    {{ end }}
  </head>
  {{ template "_internal/twitter_cards.html" . }}
  <body class="page">
    <div class="grid-page">
      {{ partial "nav.html" . }}
      <main class="main-content">
        <div class="container">
          <div class="page-content">
            {{ block "main" . }}{{ end }}
          </div>
        </div>
      </main>
      {{ partial "footer.html" }}
    </div>

    {{ partial "cookies.html" }}

    <div id="customAlert">
      
    </div>

    {{ block "footerfiles" . }}
    {{ end }}
    <!-- <script src="{{ "/scripts/fuse.js" | relURL }}"></script> -->
    <script src="{{ "/scripts/fixedsearch/fixedsearch.js" | relURL }}"></script>
  </body>
</html>