{{ define "main" }}
    <a href='{{ relLangURL .Type }}'>← {{ .Type }}</a>
    <h1>{{ .Type | singularize }}: {{ .Title }}</h1>
    <ul class="post-preview-grid">
      {{ range .Data.Pages }}
      <li class="post-preview">
        <a href="{{ .Permalink }}">
            {{ $title := .Title }}
            {{ $imgSrc := printf "%s/%s" (path.Split (path.Dir .Params.image)).File (path.Base .Params.image) }}
            {{ with .Resources.GetMatch $imgSrc }}
                <img class="post-preview__top" src="{{ (.Resize "500x webp").RelPermalink }}" alt="Thumbnail for article {{ $title }}">
            {{ end }}
        </a>
        <div class="post-preview__bottom">
            <div class="taxonomies" style="flex-direction: column;">
                <div class="taxonomies__tag-group" style="margin: 4px 0;">
                    {{ range .Params.categories }}
                        <div class="tag">
                            <span class="tag-text">
                                <a href='{{ relLangURL "categories/" }}{{. | urlize }}'>{{.}}</a>
                            </span>
                        </div>
                    {{end}}
                </div>
                <div class="taxonomies__tag-group" style="margin: 4px 0;">
                    {{ range .Params.tags }}
                        <div class="tag">
                            <span class="tag-text">
                                <a href='{{ relLangURL "tags/" }}{{. | urlize }}'>{{.}}</a>
                            </span>
                        </div>
                    {{end}}
                </div>
            </div>
            <a href="{{ .Permalink }}">
                <h3 class="preview-title" style="color: #fff;">{{ .Title }}</h3>
                <span style="color: #fff;">{{ .Date | time.Format ":date_long" }}</span>
            </a>
        </div>
    </li>
      {{ end }}
    </ul>
{{ end }}