<div id="page-blur" class="pageblock hidden" style="display: none">
<div id="cookie-consent-popup">
    <span id="cookie-consent-popup__header">{{ i18n "cookieT1" }} <span style="color:#c38108">cookies</span></span>
    <p>{{ i18n "cookieT2" }} <a href='{{ relLangURL "privacy-policy" }}'>{{ i18n "cookieT3" }}</a>.<br>
        {{ i18n "cookieT4" }}
    </p>
    <br>
    <input type="checkbox" id="themeCookieCheckbox" value="Remember theme" checked disabled>
    <label for="themeCookieCheckbox">{{ i18n "cookieT5" }}</label><br><br><br>

    <button type="button" class="mcbutton-hsl" style="filter: brightness(100%)" onclick="cookieAgreementFn(-1)">{{ i18n "cookieT6" }}</button>
    <button type="button" class="mcbutton-hsl" style="filter: hue-rotate(90deg) brightness(200%); margin: 10px;" onclick="cookieAgreementFn(1)">{{ i18n "cookieT7" }}</button>
</div>
</div>