<div id="cookie-consent-popup" class="hidden">
    <h1>This website uses <span style="color:#c38108">cookies</span></h1>
    <p>By using this website, you agree to our Cookie Policy.<br>
        By agreeing to Cookies, the website will store the following:
    </p>
    <input type="checkbox" id="themeCookieCheckbox" value="Remember theme" checked disabled>
    <label for="themeCookieCheckbox">Remember my color scheme/theme</label><br><br>

    <button type="button" class="mcbutton">I refuse Cookies</button>
    <button type="button" class="mcbutton" id="cookie-accept">I accept Cookies</button>
</div>