<footer>
    <div class="container">
      <div class="footer-content">
        <div class="footer-content__left-group">
          <h3 class="footer-content__site-name">Socials</h3>
          <div class="footer-social">
            <a href="https://youtube.com/@XXLSteve" class="icons youtube" target="_blank" rel="noopener noreferrer" title="English YouTube channel"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://discord.gg/dJJyryc" class="icons discord" target="_blank" rel="noopener noreferrer" title="English Discord server"><i class="fa-brands fa-discord"></i></a>
            <a href="https://twitter.com/CornetPanique86" class="icons twitter" target="_blank" rel="noopener noreferrer" title="Twitter"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://github.com/CornetPanique86" class="icons github" target="_blank" rel="noopener noreferrer" title="Github"><i class="fa-brands fa-github"></i></a>
            <a href="https://reddit.com/u/CornetPanique86" class="icons reddit" target="_blank" rel="noopener noreferrer" title="Reddit"><i class="fa-brands fa-reddit"></i></a>
          </div>
          <div class="footer-social">
            <a href="https://youtube.com/@XXLSteveFR" class="icons youtube" target="_blank" rel="noopener noreferrer" title="French YouTube channel"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://discord.gg/qPcDsAUZyv" class="icons discord" target="_blank" rel="noopener noreferrer" title="French Discord server"><i class="fa-brands fa-discord"></i></a>
            <a href="https://discord.gg/nsgXbM7sxz" class="icons discord" target="_blank" rel="noopener noreferrer" title="Events Minecraft Français"><i class="fa-brands fa-discord"></i></a>
          </div>
          <img src="/icons/positivessl_trust_seal.png" draggable="false">
        </div>
        <div class="footer-content__right-group">
          <h3 class="footer-content__site-name">Links</h3>
          <div class="footer-social">
            <a href="/credits" class="links">Credits</a>
            <a href="/privacy-policy" class="links">Privacy Policy</a>
            <a href="/about" class="links">About</a>
            <a href="/socials" class="links">Socials/Contact</a>
          </div>
          <br>
            "Minecraft" is a trademark of Mojang AB. This website is not affiliated in any way with Microsoft or Mojang AB.
        </div>
      </div>
      
    </div>
</footer>