<footer>
    <div class="container">
      <div class="footer-content">
        <div class="footer-content__left-group">
          <h3 class="footer-content__site-name">{{ i18n "footSocials" }}</h3>
          <div class="footer-social">
            <a href="https://youtube.com/@XXLSteve" class="icons youtube" target="_blank" rel="noopener noreferrer" title='{{ i18n "linkYtEn" }}'><i class="fa-brands fa-youtube"></i></a>
            <a href="https://discord.gg/dJJyryc" class="icons discord" target="_blank" rel="noopener noreferrer" title='{{ i18n "linkDiscEn" }}'><i class="fa-brands fa-discord"></i></a>
            <a href="https://twitter.com/CornetPanique86" class="icons twitter" target="_blank" rel="noopener noreferrer" title="Twitter"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://github.com/CornetPanique86" class="icons github" target="_blank" rel="noopener noreferrer" title="Github"><i class="fa-brands fa-github"></i></a>
            <a href="https://reddit.com/u/CornetPanique86" class="icons reddit" target="_blank" rel="noopener noreferrer" title="Reddit"><i class="fa-brands fa-reddit"></i></a>
          </div>
          <div class="footer-social">
            <a href="https://youtube.com/@XXLSteveFR" class="icons youtube" target="_blank" rel="noopener noreferrer" title='{{ i18n "linkYtFr" }}'><i class="fa-brands fa-youtube"></i></a>
            <a href="https://discord.gg/qPcDsAUZyv" class="icons discord" target="_blank" rel="noopener noreferrer" title='{{ i18n "linkDiscFr" }}'><i class="fa-brands fa-discord"></i></a>
            <a href="https://discord.gg/nsgXbM7sxz" class="icons discord" target="_blank" rel="noopener noreferrer" title='{{ i18n "linkDiscEvents" }}'><i class="fa-brands fa-discord"></i></a>
          </div>
          <img src="/icons/positivessl_trust_seal.png" draggable="false">
        </div>
        <div class="footer-content__right-group">
          <h3 class="footer-content__site-name">{{ i18n "footLinks" }}</h3>
          <div class="footer-social">
            <a href='{{ relLangURL "credits" }}' class="links">{{ i18n "credits" }}</a>
            <a href='{{ relLangURL "privacy-policy" }}' class="links">{{ i18n "privacyPolicy" }}</a>
            <a href='{{ relLangURL "about" }}' class="links">{{ i18n "about" }}</a>
            <a href='{{ relLangURL "socials" }}' class="links">{{ i18n "socials" }}</a>
          </div>
          <br>
            {{ i18n "linkNonAffiliation" }}
        </div>
      </div>
      
    </div>
</footer>