<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{ with .Title }}
  <title>{{ . }} | {{ site.Title }}</title>
{{ else }}
  <title>{{ site.Title }}</title>
{{ end }}

{{/* $mainSCSS := resources.Get "sass/main.scss" | resources.ToCSS */}}
{{/* $searchSCSS := resources.Get "sass/search.scss" | resources.ToCSS */}}
{{- $CSS := slice (resources.Get "sass/main.scss") (resources.Get "sass/search.scss") | resources.Concat "assets/css/main.css" | toCSS | minify | fingerprint }}

<link rel="stylesheet" href="{{ $CSS.RelPermalink }}">

{{ template "_internal/opengraph.html" . }}

{{ $mainScript := resources.Get "js/main.js" | minify | fingerprint -}}
<script src="{{ $mainScript.Permalink }}" {{ printf "integrity=%q" $mainScript.Data.Integrity | safeHTMLAttr }}></script>

<script src="https://kit.fontawesome.com/24bbd48e74.js" crossorigin="anonymous"></script>

{{ if .IsTranslated }}
  {{ range .AllTranslations }}
    <link rel="alternate" hreflang="{{ .Site.Language.Lang }}" href="{{ .Permalink }}" />
  {{ end }}
{{ end }}

{{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
