<header>
  <nav>
    <button class="nav-burger" title="Navigation" type="button" onclick="showNavBar()"><i class="fa-solid fa-bars"></i></button>
    <ul class="noUl top-nav">
      <li class="top-nav__logo"><a href='{{ relLangURL "" }}'>
        <img class="icons" src="/header-icon.png" title='{{ i18n "home" }}'>
      </a></li>
      <div class="top-nav__link-group">
        <li class="top-nav__link top-nav__dropDownParent"><a href='{{ relLangURL "resources" }}' class="noA"><span>{{ i18n "resources" }}</span></a>
          <i class="fa-solid fa-caret-down"></i>
          <ul class="noUl top-nav__dropDown">
            <li>
              <a href="javascript: customAlert('{{ i18n "toolsComingSoon" }}')" class="noA"><span>{{ i18n "tools" }}</span></a>
            </li>
          </ul>
        </li>
        <li class="top-nav__link"><a href='{{ relLangURL "blog" }}' class="noA"><span>{{ i18n "blog" }}</span></a></li>
        <li class="top-nav__link"><a href='{{ relLangURL "about" }}' class="noA"><span>{{ i18n "about" }}</span></a></li>
        <li class="top-nav__link">
          <select name="theme" id="themeToggler" class="mcbutton" onchange="themeSettings()" title='{{ i18n "selectTheme" }}'>
            <option value="auto">Auto</option>
            <option value="light">{{ i18n "themeLight" }}</option>
            <option value="dark">{{ i18n "themeDark" }}</option>
          </select>
        </li>
        {{ if .IsTranslated }}
          {{ range .Translations | first 1 }}
            <li class="top-nav__link">
              <a href="{{ .Permalink }}" class="noA"><span>{{ .Language.LanguageName }}</span></a>
            </li>
          {{ end}}
        {{ end }}
        <li class="top-nav__link">
          <button type="button" title='{{ i18n "search" }}' id="navSearchBtn">
            <span><i class="fa-solid fa-magnifying-glass"></i></span>
          </button>
        </li>
      </div>
    </ul>
    {{ partialCached "search.html" . }}
  </nav>
</header>