<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{ .Title }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    {{ $style := resources.Get "sass/socials.scss" | resources.ToCSS | resources.Minify }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="twitter:title" content="{{ .Title }}">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    {{ with .Description }}
        <meta name="og:description" content="{{ . }}">
        <meta name="description" content="{{ . }}">
        <meta property="twitter:description" content="{{ . }}">
    {{ end }}
    {{ with $.Params.ogtype }}
        <meta name="og:type" content="{{ . }}">
    {{ end }}
    <meta name="og:image" content="xxlsteve.net/favicon.png">
    <meta property="twitter:image" content="xxlsteve.net/favicon.png">
    <meta name="og:url" content="{{ .Permalink }}">
    <meta property="twitter:url" content="{{ .Permalink }}">
    <script src="https://kit.fontawesome.com/24bbd48e74.js" crossorigin="anonymous"></script>
    <script src='/libs/skinview3d/skinview3d.bundle.js'></script>
</head>
<body>
    <section id="intro">
        <header>
            <h6><a href='{{ relLangURL "" }}'>SITE</a> | 
                {{ if .IsTranslated }}
                  {{ range .Translations }}
                    <a href='{{ .Permalink }}'>[ {{ .Language.LanguageName }} ]</a>
                  {{ end }}
                {{ end }} | <a href="#" onclick="addCape()"><i class="fa-solid fa-star"></i></a></h6>
            <h3>Hi, I'm</h3> <h1>XXL Steve</h1> <h3>aka</h3> <h2>CornetPanique86</h2>
        </header>
    </section>
    <hr>
    <article>
        <section id="socials">
            <header>
                <h3>{{ i18n "footSocials" }}</h3>
            </header>
            <details open>
                <summary>
                    [ 🇺🇸 ]
                </summary>
                <a href="https://youtube.com/@XXLSteve" class="icons youtube" target="_blank" rel="noopener noreferrer" title='{{ i18n "linkYtEn" }}'>
                    <div class="link">
                        <i class="fa-brands fa-youtube"></i>
                        <span>{{ i18n "linkYtEn" }}</span>
                    </div>
                </a>
                <a href="https://discord.gg/dJJyryc" class="icons discord" target="_blank" rel="noopener noreferrer" title='{{ i18n "linkDiscEn" }}'>
                    <div class="link">
                        <i class="fa-brands fa-discord"></i>
                        <span>{{ i18n "linkDiscEn" }}</span>
                    </div>
                </a>
                <a href="https://twitter.com/CornetPanique86" class="icons twitter" target="_blank" rel="noopener noreferrer" title="Twitter">
                    <div class="link">
                        <i class="fa-brands fa-twitter"></i>
                        <span>Twitter: @cornetpanique86</span>
                    </div>
                </a>
                <a href="https://github.com/CornetPanique86" class="icons github" target="_blank" rel="noopener noreferrer" title="Github">
                    <div class="link">
                        <i class="fa-brands fa-github"></i>
                        <span>Github: CornetPanique86</span>
                    </div>
                </a>
                <a href="https://reddit.com/u/CornetPanique86" class="icons reddit" target="_blank" rel="noopener noreferrer" title="Reddit">
                    <div class="link">
                        <i class="fa-brands fa-reddit"></i>
                        <span>Reddit: CornetPanique86</span>
                    </div>
                </a>
            </details>
            <details>
                <summary>
                    [ 🇫🇷 ]
                </summary>
                <a href="https://youtube.com/@XXLSteveFR" class="icons youtube" target="_blank" rel="noopener noreferrer" title='{{ i18n "linkYtFr" }}'>
                    <div class="link">
                        <i class="fa-brands fa-youtube"></i>
                        <span>{{ i18n "linkYtFr" }}</span>
                    </div>
                </a>
                <a href="https://discord.gg/qPcDsAUZyv" class="icons discord" target="_blank" rel="noopener noreferrer" title='{{ i18n "linkDiscFr" }}'>
                    <div class="link">
                        <i class="fa-brands fa-discord"></i>
                        <span>{{ i18n "linkDiscFr" }}</span>
                    </div>
                </a>
                <a href="https://discord.gg/nsgXbM7sxz" class="icons discord" target="_blank" rel="noopener noreferrer" title='{{ i18n "linkDiscEvents" }}'>
                    <div class="link">
                        <i class="fa-brands fa-discord"></i>
                        <span>{{ i18n "linkDiscEvents" }}</span>
                    </div>
                </a>
            </details>
        </section>
        <section id="ingame">
            <header>
                <h3>{{ i18n "ingame" }}</h3>
            </header>
            <select name="ign" id="ign" class="mcbutton" onchange="skinChange()" title="Nickname">
                <option value="bedrock">Bedrock</option>
                <option value="java">Java</option>
            </select>
            <div id="skin_div">
              <canvas id="skin_container"></canvas>
            </div>
            <script>
            	let skinViewer = new skinview3d.SkinViewer({
            		canvas: document.getElementById("skin_container"),
            		width: 200,
            		height: 350,
            		skin: "/socials/bedrock.png",
                    nameTag: "CornetPanique86",
                    zoom: 0.6
            	});

                function skinChange() {
                    const skin = document.getElementById("ign").value;
                    if (skin == "java") {
                        skinViewer.loadSkin("/socials/java.png");
                        skinViewer.nameTag = "XXL_Steve";
                        skinViewer.loadCape(null);
                    } else if (skin == "bedrock") {
                        skinViewer.loadSkin("/socials/bedrock.png");
                        skinViewer.nameTag = "CornetPanique86";
                        skinViewer.loadCape(null);
                    } else {
                        skinViewer.loadCape("/socials/cape.png", { backEquipment: "elytra" });
                    }
                }

                function addCape() {
                    skinViewer.loadCape("/socials/cape.png");
                    document.getElementById("skin_div").setAttribute("data-animation", "true");
                    setTimeout(() => {
                        document.getElementById("skin_div").removeAttribute("data-animation");
                    }, 2500);
                    let skinButton = document.getElementById("ign");
                    if (skinButton.childElementCount < 3) {
                        const option = document.createElement("option");
                        const optionText = document.createTextNode('{{ i18n "elytra" }}');
                        option.appendChild(optionText);
                        option.value = "elytra";
                        skinButton.appendChild(option);
                    }
                }
            </script>
            
        </section>
        <section id="contact">
            <header>
                <h3>{{ i18n "contact" }}</h3>
            </header>
            {{ .Content }}
        </section>
    </article>
</body>
</html>