label {
    display: inline;
}

input[type=checkbox][disabled] {
    filter: invert(25%);
}

#outlineBtn {
    margin-left: 1.5em;
    display: none;
}
label[for=outlineBtn] {
    display: none;
}

#uploadSection {
    grid-template-columns: 50% 50%;
    display: grid;
}

#uploadFile {
    padding-right: .6em;
}

#uploadFile__fileBtn {
    display: none;
}

#uploadFile__chosenFile {
    font-size: .8em;
}

#searchUsername {
    display: flex;
    border-left: 2px solid #a7aeb5;
    padding-left: .6em;
}

#searchUsername__input {
    flex: 1;
    width: auto;
}

section[data-title="2D preview"] > div {
    position: relative;
}

#preview2DSectionCanvas {
    image-rendering: pixelated;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-20%, -10%);
}