.formSettings {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    padding-bottom: .4em;
    margin-bottom: .4em;
    border-bottom: 4px dashed #b9b9b9;
}

.addFormElmBtn {
    background-color: #840000;
    font-weight: bold;
    padding: 0.27em 0.45em;
}

.addFormElm {
    display: none;
    position: relative;
    & > ul {
        list-style: none;
        position: absolute;
        top: 100%;
        left: 0;
        overflow: visible;
        background-color: #581717;
        z-index: 1;
        & > li {
            cursor: pointer;
            padding: 0.4em;
            &:hover {
                background-color: #441111;
            }
            &:active {
                background-color: #340c0c;
            }
        }
    }
}

.hidden {
    display: none;
}

.elmDelete {
    background-color: #ac0000;
    padding: 0.27em 0.40em;
}

.formElm {
    &::before {
        content: attr(data-label);
        font-size: .7em;
    }
}

.elmDropdownContent {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    max-height: 10em;
    & input {
        width: 5em;
    }
    & button {
        padding: 0.14em 0.34em;
    }
}
