{{ $src := resources.Get "res/question-mark.svg" }}
{{ with $.Page.Resources.GetMatch (.Get "src") }}
    {{ $src = . }}
{{ else }}
    {{ with resources.GetRemote (.Get "src") }}
        {{ with .Err }}
        {{ else }}
            {{ $src = . }}
        {{ end }}
    {{ end }}
{{ end }}

{{ with .Get "slider" }}
<div class="swiper-slide">
{{ end }}
<figure title='{{ if or (.Get "alt") (.Get "caption") }}{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" }}{{ end }}{{ end }}'
class="figurePopup imagePopup" style="width: min({{ $src.Width }}px, 70%)">
  {{ with .Get "link" }}<a href="{{ . }}">{{ end }}
      <img
      src="{{ $src.RelPermalink }}"
      srcset="
        {{ ($src.Resize "320x").RelPermalink }} 320w,
        {{ ($src.Resize "600x").RelPermalink }} 600w,
        {{ ($src.Resize "1200x").RelPermalink }} 2x"
      {{ if or (.Get "alt") (.Get "caption") }}alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" }}{{ end }}"{{ end }}/>
  {{ if .Get "link" }}</a>{{ end }}
  {{ if or (or (.Get "title") (.Get "caption")) (.Get "attr") }}
  <figcaption>{{ if isset .Params "title" }}
      <h4>{{ .Get "title" }}</h4>{{ end }}
      {{ if or (.Get "caption") (.Get "attr") }}<p>
      {{ .Get "caption" }}
      {{ with .Get "attrlink" }}<a href="{{ . }}"> {{ end }}
          {{ .Get "attr" }}
      {{ if .Get "attrlink" }}</a> {{ end }}
      </p> {{ end }}
  </figcaption>
  {{ end }}
</figure>
{{ with .Get "slider" }}
</div>
{{ end }}